sapmodel/.settings/org.eclipse*
# Ignore Eclipse project and settings files
.settings
/**/*.jar
sapmodel*/**/*.jar
# Ignore Hybris project and settings files
sapmodel*/platformhome.properties
 
# Ignore classes folders in projects
sapmodel*/notused
sapmodel*/classes
sapmodel*/eclipsebin
sapmodel*/bin
sapmodel*/target
sapmodel*/hmc/resources/hmc.xsd
*.class
sapmodel*/gensrc/*
sapmodel*/resources/beans.xsd
sapmodel*/resources/items.xsd
sapmodel*/extensioninfo.xsd
sapmodel*/build.xml
*testclasses.xml
*webtestclasses.xml

*.bak
